{% extends 'base.html' %}
{% block content %}
    <h3>Add Subject</h3>
    <hr>
    <div class="container">
        <h4>Add from GraceDB</h4>
        <p>Use information from a detection pipeline to create your new event</p>
        <form class="mb-3">
            <div class="form-label col-lg-4">
                <label for="superevent">Superevent ID:</label>
                <input class="form-control" id="superevent" name="superevent" type="text" placeholder="S170817b"
                       required>
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <hr>
        <h4>Add manually</h4>
        <div id="add-subject-form" class="col-xl-6">
            {% include 'parts/add-subject-form.html' %}
        </div>
    </div>
{% endblock %}