{% extends 'base.html' %}
{% block content %}
    <h3>Add Subject</h3>
    <hr>
    <div class="container">
        <h4>Add from GraceDB</h4>
        <p>Use information from a detection pipeline to create your new event</p>
        <form class="mb-3">
            <div class="form-label col-lg-4">
                <label for="superevent">Superevent ID:</label>
                <input class="form-control" id="superevent" name="superevent" type="text" placeholder="S170817b"
                       required>
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <hr>
        <h4>Add manually</h4>
        <form
                class="mb-3"
                hx-post="{% url 'add-subject' %}"
                hx-target="#subject-list"
                hx-target-error="errors"
                method="POST"
        >
            <div id="errors"></div>
            <div class="form-label col-lg-4">
                <label for="event_id">Event ID:</label>
                <input
                        class="form-control"
                        id="event_id"
                        name="event_id"
                        type="text"
                        placeholder="GW123456_123456"
                        required
                        hx-post="{% url 'check-event-id' %}"
                        hx-trigger="keyup"
                        hx-target="#event-id-exists"
                >
                <p id="event-id-exists" class="fw-bold text-danger"></p>
            </div>
            <div class="form-label col-lg-4">
                <label for="gps_time">GPS Time:</label>
                <input class="form-control" id="gps_time" name="gps_time" type="text" placeholder="1126259462.391"
                       required>
            </div>
            <span>Detectors:</span>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="h1" name="h1">
                <label class="form-check-label" for="h1">
                    H1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="l1" name="l1">
                <label class="form-check-label" for="l1">
                    L1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="v1" name="v1">
                <label class="form-check-label" for="v1">
                    V1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="k1" name="k1">
                <label class="form-check-label" for="k1">
                    K1
                </label>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Add</button>
        </form>
    </div>
{% endblock %}